.todo-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.todo-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.todo-table th,
.todo-table td {
  padding: 12px 15px;
}

.todo-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
